*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AprendiendoJDBC01/nbproject/private/
/AprendiendoJDBC01/build/
/Clase02/EurekaCs/nbproject/private/
/Clase01/AprendiendoJDBC01/build/
/Clase01/AprendiendoJDBC01/nbproject/private/
/Clase02/EurekaCs/build/